*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html{
  --main-green-color: #46A358;
  --main-black-color: #3D3D3D;
}

body{
  font-family: "Cera Pro", sans-serif;
}

a{
text-decoration: none;  
}



li{
  list-style-type: none!important;
  cursor:pointer;
}

li:hover{
  text-decoration: underline;
}

h1{
  font-size: 28px;
  font-weight: bold;
}

h2{
  font-size: 18px;
  font-weight: bold;
}

h3{
  font-size: 16px;
}

h4{
  font-size: 14px;
}

.container{
  width: 1200px;
  margin:0 auto;
}